{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template qbank_search/questions

    TODO describe template questions

    Example context (json):
    {
    }
}}
{{#questions}}
    <hr>
    <div class="question-item card mb-3">
        <input type="hidden" name="id" value="{{id}}">
        <div class="card-header bg-light">
            <div class="question-name text-primary">{{{editurl}}}{{{name}}}</a></div>
        </div>
        <div class="card-body">
        <div>
            <div class="question-text">
                {{{questiontext}}}
            </div>
        </div>
    </div>
    <hr>
{{/questions}}
